/*  your css code here. If applicable */
body {
    width: 1100px;
    margin: 0 auto;
	background-color: #f0f0f0;
}
.imageContainer {
	padding: 20px;
}
table {
    width: 100%;
	border: 1px solid black;
}
table td {
	border: 1px solid black;
	width: 600px;
	padding: 10px;
}
table td:first-child, table td:last-child {
    width: 200px;
}
.para {
	text-align: center;
}